
body {
    background-color: #f4f4f4;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .login-form1 {
    background-color: #e7bff5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    display: none;
    font-family: 'Times New Roman', Times, serif;
  }
  .login-form1 h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  .login-form1 label {
    display: block;
    margin-bottom: 5px;
    color: #2f2e2e;
  }
  .login-form1 input[type="text"],
  .login-form1 input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .login-form1 input[type="submit"] {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .login-form1 input[type="submit"]:hover {
    background-color: #218838;
  }

  .login-form1 #username{
      border: solid 1px #ed8be0;
  }
  .login-form1 #password{
      border: solid 1px #ed8be0;
  }
  .login-form2 {
    background-color: #e7bff5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: none;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;

  }

  .login-form2 h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .login-form2 label {
    display: block;
    margin-bottom: 5px;
    color: #2f2e2e;
  }

  .login-form2 input[type="text"],
  .login-form2 input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-form2 input[type="submit"] {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .login-form2 input[type="submit"]:hover {
    background-color: #218838;
  }

  .login-form2 #username{
      border: solid 1px #ed8be0;
  }
  .login-form2 #password{
      border: solid 1px #ed8be0;
  }
  body #header2{ /*change some style to the page*/
      width: 60%;
      text-align: center;
      margin: auto;
      align-items: center;
      

  }
  body .list{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly; 
  padding: 1%; 
}
body .list #signUp{
  background-color: #5cf45c;
  font-size: 120%;
}
body .list #signUp:hover{
  background-color: #3bffe2;
  font-size: 120%;
}

body .header1{
  display: flex;
}
.footer{ /*add effects in the footer using margin to control the position*/
  background-color: #231f20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 69%;
}
.footer ul{ /*ul in footer should no bullets and display flex*/
  display: flex;
  list-style-type: none;
  
}
.footer li{  
 padding-right:3rem ;
}
.footer a{ /*change the font-family of links in footer and color size without underline*/
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: large;
  text-decoration: none;
}
.footer a:hover{/*when hover links add underline*/
  text-decoration: underline;
}


